<h2 class="toc">Edit comment</h2>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />

<% if @comment.flag_id -%>
  <input type="hidden" name="comment[flag_id]" value="<%= @comment.flag_id %>" />
<% elsif @comment.fallacy_id -%>
  <input type="hidden" name="comment[fallacy_id]" value="<%= @comment.fallacy_id %>" />
<% elsif @comment.topic_id -%>
  <input type="hidden" name="comment[topic_id]" value="<%= @comment.topic_id %>" />
<% end -%>

<% if @comment.parent_id -%>
  <input type="hidden" name="comment[parent_id]" value="<%= @comment.parent_id %>" />
<% end -%>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to "Original content", initial_content_url(@comment) %>

