<h1 class="toc">Comments page</h1>

<h2 class="toc">All comments</h2>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.user.name %></td>
    <td><%=h comment.title %></td>
    <td><%=h truncate comment.content, :length => 100 %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


