<div class="flag">
  <div class="title">
  <%= flag.user.name %> flagged this topic with
  <%= link_to flag.fallacy.shortname, fallacy_url(flag.fallacy) %>
  </div>
  <div class="content">
    <%= textilize flag.content %>
  </div>
  <hr/>
  <% if enabled_user -%>
  <% form_for [flag,Comment.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.text_area :content, :size => "40x5" %>
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />
    <input type="hidden" name="comment[flag_id]" value="<%= flag.id %>" />
    <%= f.submit "Send" %>
  <% end -%>
<% end -%>
</div>
