<h2 class="toc">All topics</h2>

<%- if enabled_user -%>
<%= link_to 'New topic', new_topic_path -%>
<%- end -%>

<ul class="topic list">
<% for topic in @topics %>
  <li>
    <span class="topic title"><%= link_to topic.title,
      topic_url(topic) %></span>
      <% if enabled_user %>
        | <%= link_to 'Edit', edit_topic_path(topic) %>
      <% end %>
      <% if admin_user -%>
        | <%= link_to 'Destroy', topic,
              :confirm => 'Are you sure?',
              :method => :delete %>
      <% end -%>
    <div class="topic desc">
      <div><em><%=textilize topic.origin %></em></div>
      <p>
      </p>
    </div>
  </li>
<% end %>
</ul>

<br />

