<h1 class="toc">Topics Page</h1>

<h2 class="toc">All topics</h2>
<div class="toc all">

<%= render :partial => 'index_sort' %>

<ul class="topic list">
<% for topic in @topics %>
  <li>
      <span style="display:none" class="creation"><%= topic.created_at %></span>
      <span style="display:none" class="update"><%= topic.updated_at %></span>
      <% if enabled_user %>
        <span class="action"><%= link_to 'Edit', edit_topic_path(topic) %></span>
      <% end %>
      <% if admin_user -%>
        <span class="action"><%= link_to 'Destroy', topic,
              :confirm => 'Are you sure?',
              :method => :delete %></span>
      <% end -%>
    <span class="topic title"><%= link_to topic.title,
      topic_url(topic) %></span>
    <!--div class="topic desc">
      <div><em><%=textilize topic.origin %></em></div>
    </div-->
  </li>
<% end %>
</ul>
</div>

<% if enabled_user -%>
<h2 class="toc" id="new">New topic</h2>
<div class="toc new closed">
<%= render :partial => 'new_form', :locals => {:topic => Topic.new} %>
</div>
<% end -%>

