<h2 class="toc" id="def">Topic definition</h2>
<div class="toc def">

<span class="topic title"><%=h @topic.title %></span>
<%- if can_edit_topic -%>
 | <%= link_to 'Edit', edit_topic_path(@topic) %>
<%- end -%>

<% if @topic.origin.length > 0 -%>
<div class="topic origin">
  <em>
    <%=textilize @topic.origin %>
  </em>
</div>
<% end -%>

<% if @topic.url.length > 0 -%>
<div class="topic url"><b>Url:</b><%=h @topic.url %></div>
<% end -%>

<div class="topic content">
  <%=textilize @topic.content %>
</div>

</div>


<h2 class="toc" id="flags">Flagged fallacies</h2>
<div class="toc flags closed">
<% for flag in @topic.flags %>
<%= render :partial => 'flag', :locals => { :flag => flag} %>
<% end %>
</div>


<% if enabled_user -%>
<h2 class="toc" id="newflag">New flag</h2>
<div class="toc newflag closed">
<span class="title">Add a flag:</span>
<% form_for [@topic,Flag.new] do |f| %>
    <input
       type="hidden"
       name="flag[topic_id]"
       value="<%= @topic.id%>" />
    <%= f.label :fallacy_id,"Fallacy" %>
    <%= select(
        "flag",
        "fallacy_id",
        Fallacy.all.collect {|p| [ p.shortname, p.id ] })
    %><br/>
    <%= f.text_area :content, :size => "40x10" %><br/>
    <%= f.submit "Send" %>
<% end %>
</div>
<% end -%>


<% if @topic.comments.length > 0 -%>
<h2 class="toc" id="forum">Forum</h2>
<div class="toc forum closed">
<% for comment in @topic.comments %>
<%= render :partial => 'comments/_show', :locals => { :comment => comment} %>
<% end %>
</div>
<% end -%>

<% if enabled_user -%>
<h2 class="toc" id="newcomment">New comment</h2>
<div class="toc newcomment">
<div class="topic comment_form">
  <% form_for [@topic,Comment.new], :action => "create" do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.text_area :content, :size => "40x5" %>
    <input
       type="hidden"
       name="comment[topic_id]"
       value="<%= @topic.id%>" />
    <br/>
    <%= f.submit "Send" %>
  <% end -%>
</div>
</div>
<% end -%>





