<h1 class="toc">User Page</h1>

<h2 class="toc">Edit profile</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    Receive email notifications (new topics and fallacies)<br />
    <% if @user.notified -%>
      <%= f.check_box :notified, {:checked => 'checked'} %>
    <% else -%>
      <%= f.check_box :notified %>
    <% end -%>
  </p>

<% if admin_user -%>
  <p>
    <%= f.label :enabled %><br />
    <% if @user.enabled -%>
      <%= f.check_box :enabled, {:checked => 'checked'} %>
    <% else -%>
      <%= f.check_box :enabled %>
    <% end -%>
  </p>
  <p>
    <%= f.label :admin %><br />
    <% if @user.admin -%>
      <%= f.check_box :admin, {:checked => 'checked'} %>
    <% else -%>
      <%= f.check_box :admin %>
    <% end -%>

  </p>
<% end -%>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


