<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @user.enabled %>
</p>

<% if admin_user -%>
<p>
  <b>Admin:</b>
  <%=h @user.admin %>
</p>
<% end -%>

<% if can_edit_user(@user) -%>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end -%>


