<div class="top title">
<h2>USER PAGE
</h2>
<h1>&#151;&nbsp;<%=h @user.name %>&nbsp;&#151</h1>
</div>

<h2 class="toc">Profile</h2>
<div class="toc">
<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @user.enabled %>
</p>

<p>
  <b>Receive email notifications:</b>
  <%=h @user.notified %>
</p>



<% if admin_user -%>
<p>
  <b>Admin:</b>
  <%=h @user.admin %>
</p>
<% end -%>

<% if can_edit_user(@user) -%>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end -%>
</div>

<% unless @user.comments.empty? -%>
<h2 class="toc">Comments</h2>
<div class="toc">
<ul>
<% for comment in @user.comments %>
<li>
    <span class="action"><%= link_to 'Edit', edit_comment_path(comment) %></span>
    <span class="action"><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></span>

<%= link_to comment.title, initial_content_url(comment)+"#comment_"+comment.id.to_s -%>
  by <%= comment.user.name %>
</li>
<% end %>
</ul>
</div>
<% end -%>

<% unless @user.flags.empty? -%>
<h2 class="toc">Flags</h2>
<div class="toc">
<ul>
<% for flag in @user.flags %>
<li><%= @user.name %>
  <%= link_to "flagged", flag_url(flag) -%>
  <%= link_to flag.fallacy.shortname, fallacy_url(flag.fallacy) -%>
  in
  <%= link_to flag.topic.title, topic_url(flag.topic) -%>
</li>
<% end %>
</ul>
</div>
<% end -%>






