<h1 class="toc">Index Page</h1>

<h2 class="toc" id="topics">Recent topics</h2>
<div class="toc topics">
<ul>
<% for topic in recent_topics %>
<li><%= link_to topic.title, topic_url(topic) -%></li>
<% end %>
</ul>
</div>

<h2 class="toc" id="flags">Recent flags</h2>
<div class="toc flags">
<ul>
<% for flag in recent_flags %>
<li><%= flag.user.name %>
  <%= link_to "flagged", flag_url(flag) -%>
  the fallacy
  <%= link_to flag.fallacy.shortname, fallacy_url(flag.fallacy) -%>
  in the topic
  <%= link_to flag.topic.title, topic_url(flag.topic) -%>
</li>
<% end %>
</ul>
</div>

<h2 class="toc" id="fallacies">Recent fallacies</h2>
<div class="toc fallacies">
<ul>
<% for fallacy in recent_fallacies %>
<li><%= link_to fallacy.title, fallacy_url(fallacy) -%></li>
<% end %>
</ul>
</div>

<h2 class="toc" id="comments">Recent comments</h2>
<div class="toc comments">
<ul>
<% for comment in recent_comments %>
<li><%= link_to comment.title, initial_content_url(comment)+"#comment_"+comment.id.to_s -%>
  by <%= comment.user.name %>
</li>
<% end %>
</ul>
</div>






