
<h2>Recent topics</h2>
<ul>
<% for topic in recent_topics %>
<li><%= link_to topic.title, topic_url(topic) -%></li>
<% end %>
</ul>

<h2>Recent flags</h2>
<ul>
<% for flag in recent_flags %>
<li><%= flag.user.name %>
  <%= link_to "flagged", flag_url(flag) -%>
  the fallacy
  <%= link_to flag.fallacy.shortname, fallacy_url(flag.fallacy) -%>
  in the topic
  <%= link_to flag.topic.title, topic_flags_url(flag) -%>
</li>
<% end %>
</ul>

<h2>Recent fallacies</h2>
<ul>
<% for fallacy in recent_fallacies %>
<li><%= link_to fallacy.title, fallacy_url(fallacy) -%></li>
<% end %>
</ul>

<h2>Recent comments</h2>
<ul>
<% for comment in recent_comments %>
<li><%= link_to comment.title, topic_url(topic) -%>
  by <%= comment.user.name %>
</li>
<% end %>
</ul>






