<h1 class="toc">Index Page</h1>

<h2 class="toc" id="topics">Recent topics
&nbsp;<span class="action"><%= link_to "see all", topics_url -%></span>
</h2>
<div class="toc topics">
<%= render :partial => 'topics/topics_ul', :locals => {:topics => recent_topics} %>
</div>

<h2 class="toc" id="fallacies">Recent fallacies
&nbsp;<span class="action"><%= link_to "see all", fallacies_url -%></span>
</h2>
<div class="toc fallacies">
<%= render :partial => 'fallacies/fallacies_ul', :locals => {:fallacies => recent_fallacies} %>
</div>


<h2 class="toc" id="flags">Recent flags</h2>
<div class="toc flags">
<ul>
<% for flag in recent_flags %>
<li><%= flag.user.name %>
  <%= link_to "flagged", flag_url(flag) -%>
  the fallacy
  <%= link_to flag.fallacy.shortname, fallacy_url(flag.fallacy) -%>
  in the topic
  <%= link_to flag.topic.title, topic_url(flag.topic) -%>
</li>
<% end %>
</ul>
</div>

<h2 class="toc" id="comments">Recent comments</h2>
<div class="toc comments">
<ul>
<% for comment in recent_comments %>
<li><%= link_to comment.title, initial_content_url(comment)+"#comment_"+comment.id.to_s -%>
  by <%= comment.user.name %>
</li>
<% end %>
</ul>
</div>






