<h1>Listing fallacies</h1>



<ul class="fallacy list">
<% for fallacy in @fallacies %>
  <li>
    <div class="actions">
      <%= link_to 'Show', fallacy %>
      <% if enabled_user %>
        | <%= link_to 'Edit', edit_fallacy_path(fallacy) %>
      <% end %>
      <% if admin_user -%>
        | <%= link_to 'Destroy', fallacy,
              :confirm => 'Are you sure?',
              :method => :delete %>
      <% end -%>
    </div>
    <div class="title">
      <span class="shortname"><%= fallacy.shortname %>: </span>
      <span class="title"><%= link_to fallacy.title, fallacy_url(fallacy)%></span>
    </div>
  </li>
<% end %>
</ul>

<br />

<%- if enabled_user -%>
<%= link_to 'New fallacy', new_fallacy_path -%>
<%- end -%>
