<div class="top title">
<h2>FALLACY PAGE</h2>
<h1>&#151;&nbsp;<%=h @fallacy.title %>&nbsp;&#151</h1>
</center>
</div>


<h2 class="toc" id="def">Fallacy definition (short
  name: <em><%=h @fallacy.shortname %></em>)
<%- if enabled_user -%>
&nbsp;<span class="action"><%= link_to 'Edit', edit_fallacy_path(@fallacy) %></span>
<%- end -%>
<%- if admin_user -%>
&nbsp;<span class="action"><%= link_to 'Destroy', @fallacy, :confirm => 'Are you sure?', :method => :delete %></span>
<%- end -%>
</h2>
<div class="toc def">
<div class="fallacy content">
  <%=textilize @fallacy.content %>
</div>
</div>

<% if @fallacy.topics.length > 0 -%>
<h2 class="toc" id="topics">Topics flagged</h2>
<div class="toc topics">
<ul>
<% for topic in @fallacy.topics %>
<li><%= link_to topic.title, topic_url(topic) -%></li>
<% end %>
</ul>
</div>
<% end -%>

<% if @fallacy.comments.length > 0 -%>
<h2 class="toc" id="forum">Forum</h2>
<div class="toc forum">
<% for comment in @fallacy.comments %>
<%= render :partial => 'comments/_show', :locals => { :comment => comment} %>
<% end %>
</div>
<% end -%>


<%- if enabled_user -%>
<h2 class="toc" id="newcomment">New comment</h2>
<div class="toc newcomment">
  <%- form_for [@topic,Comment.new], :action => "create" do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.text_area :content, :size => "40x5" %>
    <input
       type="hidden"
       name="comment[fallacy_id]"
       value="<%= @fallacy.id%>" />
    <br/>
    <%= f.submit "Send" %>
  <%- end -%>
</div>
<%- end -%>
