<p>
  <b>Title:</b>
  <%=h @fallacy.title %>
</p>
<p>
  <b>Short Name:</b>
  <%=h @fallacy.shortname %>
</p>

<p>
  <b>Content:</b>
  <%=textilize @fallacy.content %>
</p>


<%= link_to 'Edit', edit_fallacy_path(@fallacy) %> |
<%= link_to 'Back', fallacies_path %>
