<div class="fallacy_topic">
<h2><%= link_to @topic.title, topic_url(@topic) %></h2>

<% if @topic.origin.length > 0 -%>
<p class="topic origin">
  <em>
    <%=textilize @topic.origin %>
  </em>
</p>
<% end -%>

<% if @topic.url.length > 0 -%>
<p><b>Url:</b><%=h @topic.url %></p>
<% end -%>

<p>
  <%=textilize @topic.content %>
</p>
</div>

<h2>Flagged by <%=h @flag.user.name %> on
    <%= link_to @flag.fallacy.shortname,fallacy_url(@flag.fallacy) -%>
    fallacy
</h2>

<p>
  <%=textilize @flag.content %>
</p>

<% if enabled_user -%>
  <% form_for [@flag,Comment.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.text_area :content, :size => "40x5" %>
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />
    <input type="hidden" name="comment[flag_id]" value="<%= @flag.id %>" />
    <%= f.submit "Send" %>
  <% end -%>
<% end -%>

<hr/>

  <div class="flag_comments">
    <h4>Comments</h4>
    <% for comment in @flag.comments %>
      <%= render :partial => 'comments/_show', :locals => { :comment => comment} %>
    <% end %>
  </div>


<%= link_to "Topic",topic_url(@flag.topic) -%>
<% if can_edit_flag(@flag) -%>
 | <%= link_to 'Edit', edit_flag_path(@flag) %>
<% end -%>

