<h2 class="toc" id="def">Flag definition
<% if can_edit_flag(@flag) -%>
&nbsp;<span class="action"><%= link_to 'Edit', edit_flag_path(@flag) %></span>
&nbsp;<span class="action"><%= link_to 'Destroy', @flag, :confirm => 'Are you sure?', :method => :delete %></span>
<% end -%>
</h2>
<div class="toc def">
<p><em><%=h @flag.user.name %>
flagged 
<%= link_to @topic.title, @topic %>
with 
<%= link_to @flag.fallacy.shortname, @flag.fallacy -%></em>
</p>

<p>
  <%=textilize @flag.content %>
</p>
</div>

<%= render :partial => 'comments/forum', :locals => {:comments => @flag.comments} %>

<% if enabled_user -%>
<h2 class="toc" id="newcomment">New comment</h2>
<div class="toc newcomment">
  <% form_for [@flag,Comment.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.text_area :content, :size => "40x5" %>
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />
    <input type="hidden" name="comment[flag_id]" value="<%= @flag.id %>" /><br/>
    <%= f.submit "Send" %>
  <% end -%>
</div>
<% end -%>



